{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
    </div>
    <div class="card-body">
            <img src="{{ news_item.photo.url }}" alt="" width="350" height="184" class="float-left mr-3">
                <h5 class="card-title">{{ news_item.title}}</h5>
                <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>


     <div class="block-comments" style="color: #000;font-size: 24px;font-weight: 700;">Комментарии</div>
        {% if comments %}
     {% for comment in comments %}
        <span itemprop="name" style="font-weight: bold; font-size: 15px;">{{ comment.name }}</span>
        <span class="time">{{ comment.created }}</span>
        <p class="card-text">{{ comment.body }}</p>
     {% endfor %}
        {% else %}
        <p>Комментариев ещё нет, вы можете оставить первый!</p>
        {% endif %}

        <p>&nbsp;</p>

        <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="sumbit" class="">Комментировать</button>
        </form>

    </div>

    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"d-m-Y H:i" }}
    </div>

</div>
{% endblock %}